{% extends 'base.html.twig' %}

{% block title %}New User{% endblock %}

{% block body %}
 {% if error %}
    <span class="badge badge-danger">{{ error }}</span>
     <br>
 {% endif %}    
 {{ form_start(form) }}
 {{ form_widget(form) }}
 {{ form_end(form) }}
{% endblock %}