{% extends 'base.html.twig' %}
{% block title %} UserManageMent {% endblock %}
{% block body %}
    {% if error %}
       
        <div class="alert alert-dismissible alert-warning">
            <button type="button" class="close" data-dismiss="alert">&times;</button>
            <h4 class="alert-heading">Warning!</h4>
            <p class="mb-0">{{ error }}</p>
        </div>
        
    {% endif %}
    <form action="/" method="post">
        <div>
            <span><label for="username">Username:</label></span>
            <span><input type="text" id="username" name="_username" value=""{{ last_username }}/></span>
        </div>
        <div>
            <span><label for="password">Password:</label></span>
            <span><input type="password" id="password" name="_password" /></span>
        </div>
        <div>
            <span><button type="submit">login</button></span>
        </div>
    </form>
{% endblock %}